.timerContainer {
	border: 1px black solid;
	margin: 20px auto;
	padding: 16px;
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
}

.display {
	display: flex;
	justify-content: center;
}

.inputContainer {
	display: flex;
}

.input {
	display: block;
	min-width: 100px;
	margin: 0 auto;
}

.displayValue,
.separator {
	min-width: none;
	text-align: center;
	padding: 10px;
}
