.countdownSection {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.countdownDisplay {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

.countdownFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.digits,
.separator {
	margin: 10px;
}

.digits {
	font-size: 3rem;
}

.millisecond {
	font-size: 1.5rem;
	position: absolute;
	bottom: 5px;
	right: -60px;
}

.separator {
	font-size: 2rem;
}
